<% include partials/head.ejs %>
<% include partials/header.ejs %>

	<div class="wrapper">
		<div class="container">

		<h2><%= message %></h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi nesciunt cupiditate sed voluptates expedita minus libero dolorem nemo quasi et odit, quae consectetur, sunt veniam optio neque suscipit. Officia, eius. </p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi nesciunt cupiditate sed voluptates expedita minus libero dolorem nemo quasi et odit, quae consectetur, sunt veniam optio neque suscipit. Officia, eius. </p>
			
		</div>
		
	</div>
<% include partials/footer.ejs %>